.banner {
    background-color: #f2f2f2;
    text-align: center;
    padding: 1rem;
    margin: 1rem 0;
}

.wrapper {
    padding: 1rem 0;
}
@media screen and (max-width: 768px) {
    
.marginTop { 
    padding-top: 80px;
}
}
